In [44]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams['figure.figsize']=[20,10]

In [45]:
pd.set_option('display.float_format', lambda x:'%.2f' % x)

In [ ]:
df=pd.read_csv(r".\Travel - Copy.csv")
df

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41t,Self Enquiry,3,6.00,Salaried,Female,3,3.00,Deluxe,3.00,Single,1.00,1,2,1,0.00,Manager,20993.00
1,200001,0,49,Company Invited,1,14.00,Salaried,Male,3,4.00,Deluxe,4.00,Divorced,2.00,0,3,1,2.00,Manager,20130.00
2,200002,1,37,Self Enquiry,1,8.00,Free Lancer,Male,3,4.00,Basic,3.00,Single,7.00,1,3,0,0.00,Executive,17090.00
3,200003,0,33,Company Invited,1,9.00,Salaried,Female,2,3.00,Basic,3.00,Divorced,2.00,1,5,1,1.00,Executive,17909.00
4,200004,0,NaN,Self Enquiry,1,8.00,Small Business,Male,2,3.00,Basic,4.00,Divorced,1.00,0,5,1,0.00,Executive,18468.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49,Self Enquiry,3,9.00,Small Business,Male,3,5.00,Deluxe,4.00,Unmarried,2.00,1,1,1,1.00,Manager,26576.00
4884,204884,1,28,Company Invited,1,31.00,Salaried,Male,4,5.00,Basic,3.00,Single,3.00,1,3,1,2.00,Executive,21212.00
4885,204885,1,52,Self Enquiry,3,17.00,Salaried,Female,4,4.00,Standard,4.00,Married,7.00,0,1,1,3.00,Senior Manager,31820.00
4886,204886,1,19,Self Enquiry,3,16.00,Small Business,Male,3,4.00,Basic,3.00,Single,3.00,0,5,0,2.00,Executive,20289.00
4887,204887,1,36,Self Enquiry,1,14.00,Salaried,Male,4,4.00,Basic,4.00,Unmarried,3.00,1,3,1,2.00,Executive,24041.00

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   object
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(6), int64(7), object(7)
memory usage: 763.9+ KB

In [68]:

df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [49]:
df.nunique()

CustomerID                  4888
ProdTaken                      2
Age                           51
TypeofContact                  2
CityTier                       3
DurationOfPitch               34
Occupation                     4
Gender                         3
NumberOfPersonVisiting         5
NumberOfFollowups              6
ProductPitched                 5
PreferredPropertyStar          3
MaritalStatus                  4
NumberOfTrips                 12
Passport                       2
PitchSatisfactionScore         5
OwnCar                         2
NumberOfChildrenVisiting       4
Designation                    5
MonthlyIncome               2475
dtype: int64

In [50]:
df.drop_duplicates()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41t,Self Enquiry,3,6.00,Salaried,Female,3,3.00,Deluxe,3.00,Single,1.00,1,2,1,0.00,Manager,20993.00
1,200001,0,49,Company Invited,1,14.00,Salaried,Male,3,4.00,Deluxe,4.00,Divorced,2.00,0,3,1,2.00,Manager,20130.00
2,200002,1,37,Self Enquiry,1,8.00,Free Lancer,Male,3,4.00,Basic,3.00,Single,7.00,1,3,0,0.00,Executive,17090.00
3,200003,0,33,Company Invited,1,9.00,Salaried,Female,2,3.00,Basic,3.00,Divorced,2.00,1,5,1,1.00,Executive,17909.00
4,200004,0,NaN,Self Enquiry,1,8.00,Small Business,Male,2,3.00,Basic,4.00,Divorced,1.00,0,5,1,0.00,Executive,18468.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49,Self Enquiry,3,9.00,Small Business,Male,3,5.00,Deluxe,4.00,Unmarried,2.00,1,1,1,1.00,Manager,26576.00
4884,204884,1,28,Company Invited,1,31.00,Salaried,Male,4,5.00,Basic,3.00,Single,3.00,1,3,1,2.00,Executive,21212.00
4885,204885,1,52,Self Enquiry,3,17.00,Salaried,Female,4,4.00,Standard,4.00,Married,7.00,0,1,1,3.00,Senior Manager,31820.00
4886,204886,1,19,Self Enquiry,3,16.00,Small Business,Male,3,4.00,Basic,3.00,Single,3.00,0,5,0,2.00,Executive,20289.00
4887,204887,1,36,Self Enquiry,1,14.00,Salaried,Male,4,4.00,Basic,4.00,Unmarried,3.00,1,3,1,2.00,Executive,24041.00

In [60]:
df.sort_values(by="Age", ascending=False)

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
58,200058,0,d31,Self Enquiry,1,13.00,Salaried,Male,2,3.00,Deluxe,3.00,Married,4.00,0,3,1,0.00,Manager,20915.00
4450,204450,0,61,Self Enquiry,3,23.00,Small Business,Male,3,4.00,Deluxe,5.00,Unmarried,2.00,0,4,1,2.00,Manager,24083.00
2855,202855,0,61,Self Enquiry,1,14.00,Salaried,Female,3,4.00,King,5.00,Divorced,7.00,0,5,0,1.00,VP,38244.00
4341,204341,0,61,Company Invited,3,35.00,Small Business,Female,4,5.00,Standard,5.00,Married,6.00,0,1,1,1.00,Senior Manager,28944.00
3653,203653,0,61,Self Enquiry,1,7.00,Small Business,Male,4,6.00,Standard,3.00,Married,5.00,0,5,0,1.00,Senior Manager,29561.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2410,202410,1,NaN,Self Enquiry,1,30.00,Small Business,Male,2,3.00,Basic,4.00,Married,2.00,1,1,0,0.00,Executive,NaN
2413,202413,1,NaN,Self Enquiry,3,21.00,Small Business,Male,2,5.00,Deluxe,3.00,Married,7.00,1,1,0,1.00,Manager,18423.00
2427,202427,1,NaN,Self Enquiry,3,22.00,Small Business,Male,3,3.00,Standard,3.00,Married,3.00,0,5,0,1.00,Senior Manager,18544.00
2430,202430,1,NaN,Self Enquiry,1,14.00,Small Business,Female,3,3.00,Basic,5.00,Married,2.00,1,3,0,2.00,Executive,NaN
2435,202435,1,NaN,Self Enquiry,2,26.00,Small Business,Female,3,3.00,Basic,4.00,Married,1.00,1,3,0,1.00,Executive,18669.00

In [62]:
df["Age"]=df["Age"].str.replace(r'[^\d]','',regex=True)

In [63]:
df.sort_values(by="Age", ascending=False)

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
4341,204341,0,61,Company Invited,3,35.00,Small Business,Female,4,5.00,Standard,5.00,Married,6.00,0,1,1,1.00,Senior Manager,28944.00
2871,202871,0,61,Company Invited,3,35.00,Small Business,Female,4,5.00,Standard,5.00,Divorced,6.00,0,2,1,1.00,Senior Manager,28944.00
3653,203653,0,61,Self Enquiry,1,7.00,Small Business,Male,4,6.00,Standard,3.00,Married,5.00,0,5,0,1.00,Senior Manager,29561.00
3323,203323,0,61,Self Enquiry,3,14.00,Small Business,Male,3,2.00,Deluxe,3.00,Married,2.00,1,5,0,1.00,Manager,23898.00
2855,202855,0,61,Self Enquiry,1,14.00,Salaried,Female,3,4.00,King,5.00,Divorced,7.00,0,5,0,1.00,VP,38244.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2410,202410,1,NaN,Self Enquiry,1,30.00,Small Business,Male,2,3.00,Basic,4.00,Married,2.00,1,1,0,0.00,Executive,NaN
2413,202413,1,NaN,Self Enquiry,3,21.00,Small Business,Male,2,5.00,Deluxe,3.00,Married,7.00,1,1,0,1.00,Manager,18423.00
2427,202427,1,NaN,Self Enquiry,3,22.00,Small Business,Male,3,3.00,Standard,3.00,Married,3.00,0,5,0,1.00,Senior Manager,18544.00
2430,202430,1,NaN,Self Enquiry,1,14.00,Small Business,Female,3,3.00,Basic,5.00,Married,2.00,1,3,0,2.00,Executive,NaN
2435,202435,1,NaN,Self Enquiry,2,26.00,Small Business,Female,3,3.00,Basic,4.00,Married,1.00,1,3,0,1.00,Executive,18669.00

In [66]:
df.corr(numeric_only=True)

,CustomerID,ProdTaken,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome
CustomerID,1.00,0.06,0.01,0.06,0.60,0.43,0.01,0.22,0.01,-0.04,0.00,0.51,0.28
ProdTaken,0.06,1.00,0.09,0.08,0.01,0.11,0.10,0.02,0.26,0.05,-0.01,0.01,-0.13
CityTier,0.01,0.09,1.00,0.02,-0.00,0.02,-0.01,-0.03,0.00,-0.04,0.00,0.00,0.05
DurationOfPitch,0.06,0.08,0.02,1.00,0.07,0.01,-0.01,0.01,0.03,-0.00,-0.00,0.03,-0.01
NumberOfPersonVisiting,0.60,0.01,-0.00,0.07,1.00,0.33,0.03,0.20,0.01,-0.02,0.01,0.61,0.20
NumberOfFollowups,0.43,0.11,0.02,0.01,0.33,1.00,-0.02,0.14,0.00,0.00,0.01,0.29,0.18
PreferredPropertyStar,0.01,0.10,-0.01,-0.01,0.03,-0.02,1.00,0.01,0.00,-0.02,0.02,0.04,0.01
NumberOfTrips,0.22,0.02,-0.03,0.01,0.20,0.14,0.01,1.00,0.01,-0.00,-0.01,0.17,0.14
Passport,0.01,0.26,0.00,0.03,0.01,0.00,0.00,0.01,1.00,0.00,-0.02,0.02,0.00
PitchSatisfactionScore,-0.04,0.05,-0.04,-0.00,-0.02,0.00,-0.02,-0.00,0.00,1.00,0.07,0.00,0.03
OwnCar,0.00,-0.01,0.00,-0.00,0.01,0.01,0.02,-0.01,-0.02,0.07,1.00,0.03,0.08
NumberOfChildrenVisiting,0.51,0.01,0.00,0.03,0.61,0.29,0.04,0.17,0.02,0.00,0.03,1.00,0.20
MonthlyIncome,0.28,-0.13,0.05,-0.01,0.20,0.18,0.01,0.14,0.00,0.03,0.08,0.20,1.00

In [67]:
import seaborn as sns

In [71]:
mean1=df['Age'].mean()
df['Age']=df['Age'].fillna(value=mean1)

TypeError: can only concatenate str (not "int") to str